<div class="parent">
    <nav>
      <ul>
        <li class="nav-item dropdown">
          <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Menu</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><button routerLink="/profile">Profile</button></li>
            <li><button routerLink="/dashboard">Dashboard</button></li>
          </ul>
        </li>
        <li><button routerLink="product">Product</button></li>
        <li><button class="text-dark" (click)="onLogOut()">LogOff</button></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  