<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="col-md-3" *ngFor="let product of productlist" style="margin: 10px;">
        <div class="card">
            <div class="imgBx">
              <img src="{{product.productImage}}" alt="">
            </div>
            <div class="contentBx">
              <h3>{{product.productName}} <span>{{product.brand}}</span></h3>
              <h2 class="price">{{product.sellingPrice}}</h2>
              <button class="buy" (click)="addToCart(product.prodcutId)">Add to Cart </button>
              <!-- <a href="#" class="buy" (click)="ViewImgae()">View Image  </a> -->
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="cart-icon">
    <i class="fa fa-shopping-cart"></i>
    <span class="cart-count">{{cartCount}}</span>
    <div class="cart-dropdown">
      <ul>
        <li *ngFor="let item of cartdata">
          <span>{{item.productName}} ({{item.Qty}})</span>
          
          <span>{{item.sellingPrice}}</span>
          <p>{{item.total}}</p>
          <button class="remove-btn" (click)="removeFromCart(item.cartDetailId)">Remove</button>
        </li>
      </ul>
    </div>
  </div>








