<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="col-md-3" *ngFor="let product of productlist" style="margin: 10px;">
        <div class="card">
            <div class="imgBx">
              <img src="{{product.productImage}}" alt="">
            </div>
            <div class="contentBx">
              <h3>{{product.productName}} <span>{{product.brand}}</span></h3>
              <h2 class="price">{{product.sellingPrice}}</h2>
              <a href="#" class="buy">Add to Cart </a>
              <a href="#" class="buy" (click)="ViewImgae()">View Image  </a>
            </div>
          </div>
      </div>
    </div>
  </div>