<div class="invoice-container">
  <div class="invoice-header">
      <h2>Invoice</h2>
  </div>
  <div class="invoice-details">
      <table>
          <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
          </tr>
          <tr *ngFor="let item of getinvoice">
              <td>{{ item.productCode }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.sellingPrice }}</td>
              <td>{{ item.sellingPrice  }} * {{item.qty}}</td>
          </tr>
        
      </table>
  </div>
  <div class="invoice-footer">
      <p>Thank you </p>
  </div>
</div>