

<div class="container">
    <button type="button" class="btn btn-primary mt-4 mb-4" data-toggle="modal" (click)="OpneModal()" data-target="#myModal">
        Add Product
      </button>
    <div class="container">
        <table class="table ">
    
            <thead>
              <tr>
                <th>Prodcut Id </th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productlist">
                <td>{{ product.prodcutId }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.category }}</td> 
                <td>{{ product.brand }}</td>
                <td>{{ product.sellingPrice }}</td>
                <td>{{ product.purchasePrice }}</td>
                <td>{{ product.purchaseDate| date }}</td>
                <td>{{ product.stock }}</td>
                <td>
                  <button class="btn btn-primary mx-2" (click)="editProduct(product.prodcutId)">Edit</button>
                  <button class="btn btn-danger" (click)="deleteProduct(product.prodcutId)">Delete</button>
                </td>
        </table>
      </div>
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Product</h4>
              <button type="button" class="close mx-2" data-dismiss="modal" (click)="CloseModal()">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
        <form
            class="form-container"
            [formGroup]="productform"
          >
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="productName" class="form-label">Product Name:</label>
                <input
                  id="productName"
                  formControlName="productName"
                  type="text"
                  minlength="3"
                  maxlength="15"
              
                  pattern="^[a-zA-Z]+([a-zA-Z ]*[a-zA-Z]+)*$"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['productName'].invalid &&
                      productform.controls['productName'].touched 
                  }"
                />
                <div *ngIf="productform.controls['productName'].invalid && productform.controls['productName'].errors?.['minlength']  &&
                productform.controls['productName'].touched"  class="text-danger"   >
                productName  min length 3  is required. </div>
                
              </div>
            </div>
            <div class="row mb-3">
             
              <div class="col-md-6">
                <label for="category" class="form-label">Category:</label>
                <input
                  id="category"
                  formControlName="category"
                  maxlength="10"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['category'].invalid && 
                      productform.controls['category'].touched
                  }"
                />
                <div *ngIf="productform.controls['category'].invalid && 
                productform.controls['category'].touched" class="text-danger">
                category is required. </div>
                
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="brand" class="form-label">Brand:</label>
                <input
                  id="brand"
                  formControlName="brand"
                  type="text"
                  maxlength="10"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['brand'].invalid &&
                      productform.controls['brand'].touched
                  }"
                />
                <div *ngIf="productform.controls['brand'].invalid && 
                productform.controls['brand'].touched" class="text-danger">
                brand is required. </div>
              </div>
              <div class="col-md-6">
                <label for="sellingPrice" class="form-label">Selling Price:</label>
                <input
                  id="sellingPrice"
                  formControlName="sellingPrice"
                  type="number"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['sellingPrice'].invalid &&
                      productform.controls['sellingPrice'].touched
                  }"
                />
                <div *ngIf="productform.controls['sellingPrice'].invalid && 
                productform.controls['sellingPrice'].touched" class="text-danger">
                sellingPrice is required. </div>
                <div *ngIf="productform.hasError('sellingPriceGreaterThanPurchasePrice') && productform.controls['sellingPrice'].touched" class="text-danger">
                  Selling Price must be greater than Purchase Price.
                </div>
                <div *ngIf="productform.controls['sellingPrice'].invalid && productform.controls['sellingPrice'].touched" class="text-danger">
                  Selling Price is required.
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="purchasePrice" class="form-label">Purchase Price:</label>
                <input
                  id="purchasePrice"
                  formControlName="purchasePrice"
                  type="number"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['purchasePrice'].invalid &&
                      productform.controls['purchasePrice'].touched
                  }"
                />
                <div *ngIf="productform.controls['purchasePrice'].invalid && 
                productform.controls['purchasePrice'].touched" class="text-danger">
                purchasePrice is required. </div>
              </div>
              <div class="col-md-6">
                <label for="purchaseDate" class="form-label">Purchase Date:</label>
                <input
                  id="purchaseDate"
                  formControlName="purchaseDate"
                  type="datetime-local"
                  [max]="todayDate" 
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      productform.controls['purchaseDate'].invalid &&
                      productform.controls['purchaseDate'].touched
                  }"
                />
                <div *ngIf="productform.controls['purchaseDate'].invalid && 
                productform.controls['purchaseDate'].touched" class="text-danger">
                purchaseDate is required. </div>
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="Stock" class="form-label">Stock</label>
                    <input
                      id="purchasePrice"
                      formControlName="stock"
                      type="number"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          productform.controls['stock'].invalid &&
                          productform.controls['stock'].touched
                      }"
                    />
                    <div *ngIf="productform.controls['stock'].invalid && 
                    productform.controls['stock'].touched" class="text-danger">
                    stock is required. </div>
                  </div>
                  <div class="col-md-6">
                    <label for="productImage" class="form-label">Product Image:</label>
                    <input
                      id="productImage"
                      formControlName="productImage"
                      type="file"
                      class="form-control"
                      accept=".jpg, .jpeg, .png"
                      (change)="onFileChange($event)"
                    />
                    <div *ngIf="productform.controls['productImage'].invalid && 
                    productform.controls['productImage'].touched" class="text-danger">
                    productImage is required. </div>
                  </div>
            </div>
        </form>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)="onSubmit()"  class="btn btn-success" data-dismiss="modal" >Submit </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="CloseModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>


 



































