<div class="container">
  <div class="row align-items-center justify-content-center">
    <mat-card class="example-card" centered-card>
      <h2 class="text-center">Forgot Password</h2>
      <form class="example-form" [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline" class="mb-4 example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            placeholder="Enter Email"
            required
          />
        </mat-form-field>
        <div class="mb-4 example-button-row d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="forgotpassword()">
            Forgot Password
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
